<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.min.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/kitchen.js"></script>
</head>

<body>
    <header>
        <div id="brandBox">
            <img onclick="window.location='kitchen'" id="logo" src="/img/logo.png" alt="logo" style="width:30px;height:30px;display:none"
            />
            <p id="appName">
                <span style="color: #EA4622">This</span>
                <span style="color: #9fd8e2">is a</span>
                <span style="color: #F2847A">Pantry.</span>
            </p>
        </div>
        <div id="accountBox" onclick="window.location='account'">
            <p>Hello,
                <span id="accountBoxUserName">userName</span>
            </p>
            <img id="avatarImg" src="/img/avatar.png" alt="avatar" style="width:35px; height:35px" />
        </div>
    </header>

    <div class="content">
        <div class="wrapperPantry">
            <div class="block">
                <div id="fridge" class="pantryContainer">
                    <h1>Fridge</h1>
                    <ul class="ingredientList">
                        <li class="ingredient">
                            <input class='fridge_list' placeholder="Ingredient Name...">
                            <button>x</button>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="block">
                <div id="stove" class="pantryContainer">
                    <h1>Stove</h1>
                    <button id="make_meal" onclick="window.location='recipeList'">Make a Meal!</button>
                </div>
            </div>
            <div class="block">
                <div id="spiceRack" class="pantryContainer">
                    <h1>Spice Rack</h1>
                    <ul class="ingredientList">
                        <li class="ingredient">
                            <input class='spice_rack' placeholder="Ingredient Name...">
                            <button>x</button>
                        </li>
                    </ul>
                </div>

                <div id="cupboard" class="pantryContainer">
                    <h1>Cupboard</h1>
                    <ul class="ingredientList">
                        <li class="ingredient">
                            <input class='cupboard' placeholder="Ingredient Name...">
                            <button>x</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button id="addIngredientBtn">Add ingredient!</button>
    </div>

    <div id="addIngredientModal" class="modal is-hidden is-visuallyHidden">
        <div class="modal-content">
            <span id="closeModal" class="Close">&times;</span>

            <form action="/action_page.php">
                Ingredient Name: <input type="text" name="Ingredient" value="Ingredient"><br>
            </form>

            <select>
              <option value="Fridge">Fridge</option>
              <option value="Spice Rack">Spice Rack</option>
              <option value="Cupboard">Cupboard</option>
            </select>

            <input type="submit" value="Submit">

        </div>
    </div>

    <script>
        // Open the modal
        $('#addIngredientBtn').on('click', (e) => {
            $("#addIngredientModal").attr("class", "modal is-visuallyHidden");
            setTimeout(function () {
                $("header,.content").addClass("is-blurred");
                $("#addIngredientModal").attr("class", "modal");
            }, 100);
        });

        // Close the modal
        $("#closeModal").on('click', () => {
            $("#addIngredientModal").attr("class", "modal is-hidden is-visuallyHidden");
            $("header,.content").removeClass("is-blurred");
        });

        // When the user clicks anywhere outside of the modal, close it
        /*$(window).on('click', (e) => {
            if (!($("#addIngredientModal").hasClass("is-visuallyHidden")) && e.target != $('#addIngredientModal')) {
                $("#addIngredientModal").attr("class", "modal is-hidden is-visuallyHidden");
                $("header,.content").removeClass("is-blurred");
                
            }
        });*/

        $(window).on('click', (e) => {
            if (e.target == $('#addIngredientModal')) {
                console.log("hi");
            }
        });
    </script>

</body>

</html>