<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.min.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/recipeResult.js"></script>
    
</head>

<body>
    <header>
        <div id="brandBox">
            <img onclick="window.location='kitchen'" id="logo" src="/img/logo.png" alt="logo" style="width:30px;height:30px;display:none"
            />
            <p id="appName">
                <span style="color: #EA4622">This</span>
                <span style="color: #9fd8e2">is a</span>
                <span style="color: #F2847A">Pantry.</span>
            </p>
        </div>
        <div id="accountBox" onclick="window.location='account'">
            <p>Hello,
                <span id="accountBoxUserName">userName</span>
            </p>
            <img id="avatarImg" src="/img/avatar.png" alt="avatar" style="width:35px; height:35px" />
        </div>
    </header>

    <div class="content">
        <div id="recipe">
            <button onclick="window.location='recipeList'">back</button>
            <h1>Recipe Name</h1>
            <p>recipe details</p>
            <p>e.g. ingredients</p>
            <p>steps</p>
            <p>pictures</p>
        </div>
    </div>

</body>

</html>