<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Result</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.min.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/js-cookie.js"></script>
    <script src="/js/recipeList.js"></script>
    <script src="/js/vue.js"></script>
</head>

<body>
    <header>
        <div id="brandBox">
            <img onclick="window.location='kitchen'" id="logo" src="/img/logo.png" alt="logo" style="width:50px;height:31px;" />
            <p id="appName">
                <span style="color: #EA4622">Pan</span><span style="color: #9fd8e2">tr</span><span style="color: #F2847A">y</span>
            </p>
        </div>
        <div id="accountBox" onclick="window.location='account'">
            <p>Hello,
                <span id="accountBoxUserName">userName</span>
            </p>
            <img id="avatarImg" src="/img/avatar.png" alt="avatar" style="width:35px; height:35px" />
        </div>
    </header>

    <div class="content">
        <div id="resultList">
            <button class="backBtn" onclick="window.location='kitchen'">back</button>
            <div class="wrapper">
                <div v-for="recipe in recipeList" class="recipeBox">
                    <img class="backgroundImg" :src="recipe.image"/>
                    <h3 class="recipeName">\{{recipe.title}}</h3>
                    <div>
                        <div>Used: \{{recipe.usedIngredientCount}}</div>
                        <div>Missed: \{{recipe.missedIngredientCount}}</div>
                    </div>
                    <div>Likes: \{{recipe.likes}}</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const resultListComponent = new Vue({
            el: "#resultList",
            data: {
                recipeList: [
                    {
                        "id": 556470,
                        "title": "Apple fritters",
                        "image": "https://spoonacular.com/recipeImages/556470-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 243
                    },
                    {
                        "id": 47950,
                        "title": "Cinnamon Apple Crisp",
                        "image": "https://spoonacular.com/recipeImages/47950-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 35
                    },
                    {
                        "id": 534573,
                        "title": "Brown Butter Apple Crumble",
                        "image": "https://spoonacular.com/recipeImages/534573-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 7
                    },
                    {
                        "id": 47732,
                        "title": "Apple Tart",
                        "image": "https://spoonacular.com/recipeImages/47732-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 0
                    },
                    {
                        "id": 47891,
                        "title": "Apple Tart",
                        "image": "https://spoonacular.com/recipeImages/47891-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 0
                    },
                    {
                        "id": 556470,
                        "title": "Apple fritters",
                        "image": "https://spoonacular.com/recipeImages/556470-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 243
                    },
                    {
                        "id": 47950,
                        "title": "Cinnamon Apple Crisp",
                        "image": "https://spoonacular.com/recipeImages/47950-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 35
                    },
                    {
                        "id": 534573,
                        "title": "Brown Butter Apple Crumble",
                        "image": "https://spoonacular.com/recipeImages/534573-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 7
                    },
                    {
                        "id": 47732,
                        "title": "Apple Tart",
                        "image": "https://spoonacular.com/recipeImages/47732-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 0
                    },
                    {
                        "id": 47891,
                        "title": "Apple Tart",
                        "image": "https://spoonacular.com/recipeImages/47891-312x231.jpg",
                        "imageType": "jpg",
                        "usedIngredientCount": 3,
                        "missedIngredientCount": 0,
                        "likes": 0
                    },
                ]
            },
            mounted: {
                // ajax call
            }

        });

    </script>

</body>

</html>