* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

$color-primary-red: #EA4622;
$color-primary-lightBlue: #9fd8e2;
$color-primary-flamingo: #F2847A;

button {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6.18px;
    background-color: $color-primary-red;
}

#addIngredientBtn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

header {
    //border: solid black 1px;
    border-bottom: rgba(grey, 0.1) solid 1.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    padding: 0 20px 0 20px;

    #brandBox {
        display: flex;
        align-content: center;
        justify-content: center;

        #logo {
            margin: 9px;
        }

        #appName {
            padding-top: 10px;
            font-size: 25px;
        }
    }

    #accountBox {
        cursor: pointer;
        padding: 9px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        p {
            padding-top: 6px;
            height: 20px;
            font-size: 20px;

            #accountBoxUserName {
                color: $color-primary-red;
            }
        }

        #avatarImg {
            border: solid black 2px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}

.content {
    top: 50px;
    height: 100%;
    overflow: auto;

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 200px);
        grid-template-rows: 200px 200px 200px;
        grid-auto-flow: row;
        grid-gap: 20px;
        justify-content: center;

        .recipeBox {
            border: solid brown 1px;

            &:hover {
                background-color: bisque;
            }
        }
    }

    .wrapperPantry {
        margin: 50px 20px 0 20px;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-auto-flow: row;
        grid-gap: 20px;
        align-content: center;
        justify-content: center;
        min-width: 370px * 3;

        .block {
            min-height: 750px;
            min-width: 370px;
            padding: 20px;
        }
    }

    .pantryContainer {
        border-radius: 10px;
        //border: solid 1px black;
        padding: 20px;

        &:hover {
            background-color: rgba($color-primary-lightBlue, 0.2);
        }
    }

    .ingredientList {
        margin: 20px 0 0 0;
        list-style: none;
        min-width: 330px;
        padding: 10px;
        border: solid $color-primary-lightBlue 2px;
        border-radius: 10px;
        background: white;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        overflow: auto;

        .ingredient {
            width: 100%;
            min-height: 50px;
            border: $color-primary-flamingo solid 2px;
            border-radius: 5px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            p {
                margin-left: 20px;
            }

            button {
                padding: 0px;
                border-radius: 50%;
                background-color: $color-primary-flamingo;

                $button-ingredient-close-width-height: 24px;

                width: $button-ingredient-close-width-height;
                height: $button-ingredient-close-width-height;
                margin-right: 20px;
            }
        }
    }

    #fridge {
        //border: solid orange 1px;
        height: 700px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #spiceRack {
        position: relative;
        top: 100px;

        //border: solid orange 1px;
        height: 250px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #cupboard {
        position: relative;
        top: 110px;

        //border: solid orange 1px;
        height: 700px - 360px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #stove {
        position: relative;
        top: 350px;

        //border: orange solid 1px;
        height: 350px;
        display: flex;
        align-items: center;
        flex-direction: column;

        button {
            margin-top: 100px;
            height: 200px;
            width: 300px;
        }
    }

    #accountSettings {
        width: 100%;
    }

    #recipe {
        width: 100%;
    }
}

#loginBox {
    border: solid blue 1px;
    padding: 20px;
    min-width: 300px;
    position: fixed;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    * {
        margin: 20px;
    }
}
