* {
  padding: 0;
  margin: 0;
}

header {
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 50px;
}

header #logo {
  border: solid black 1px;
  margin: 9px;
}

header #accountBox {
  margin: 9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

header #accountBox #avatarImg {
  border: solid black 2px;
  border-radius: 50%;
  margin-left: 10px;
}

.content {
  top: 50px;
  padding: 50px;
  height: 100%;
  border: solid red 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: auto;
}

.content .block {
  margin: 10px;
  padding: 20px;
  border: solid green 1px;
  max-width: 400px;
  min-width: 350px;
  width: 33%;
  min-height: 700px;
}

.content .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 200px 200px 200px;
  grid-auto-flow: row;
  grid-gap: 20px;
  justify-content: center;
}

.content .wrapper .recipeBox {
  border: solid brown 1px;
}

.content .wrapper .recipeBox:hover {
  background-color: bisque;
}

.content .ingredientList {
  list-style: none;
  width: 80%;
  border: solid purple 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
  padding: 20px;
  max-height: 650px;
}

.content .ingredientList .ingredient {
  width: 100%;
  min-height: 50px;
  border: palevioletred solid 1px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.content .ingredientList .ingredient p {
  margin-left: 20px;
}

.content .ingredientList .ingredient button {
  width: 20px;
  margin-right: 20px;
}

.content #accountSettings {
  width: 100%;
}

.content #recipe {
  width: 100%;
}

.content #fridge {
  border: solid orange 1px;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content #spiceRack {
  position: relative;
  top: 100px;
  border: solid orange 1px;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content #cupboard {
  position: relative;
  top: 110px;
  border: solid orange 1px;
  height: 340px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content #stove {
  position: relative;
  top: 350px;
  border: orange solid 1px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content #stove button {
  margin-top: 100px;
  height: 200px;
  width: 300px;
}

#loginBox {
  border: solid blue 1px;
  padding: 20px;
  min-width: 300px;
  position: fixed;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loginBox * {
  margin: 20px;
}
