* {
  padding: 0;
  margin: 0;
}

header {
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 50px;
}

#logo {
  border: solid black 1px;
  margin: 9px;
}

.content {
  top: 50px;
  padding: 50px;
  height: 100%;
  border: solid red 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: auto;
}

.content .block {
  margin: 10px;
  border: solid green 1px;
  max-width: 400px;
  min-width: 350px;
  width: 33%;
  min-height: 700px;
}

#loginBox {
  border: solid blue 1px;
  padding: 20px;
  min-width: 300px;
  position: fixed;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loginBox * {
  margin: 20px;
}
