* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

#testBtn {
  position: absolute;
  left: 500px;
  top: 500px;
}

button {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6.18px;
  background-color: #EA4622;
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  overflow: auto;
  transition: all 0.2s linear;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  height: 450px;
}

.modalOpen {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.is-visuallyHidden {
  opacity: 0;
}

.Close {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
}

.Close:hover, .Close :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#addIngredientBtn {
  position: fixed;
  height: 50px;
  right: 50px;
  top: 100px;
  background-color: #43e97c;
  border: solid 1px #43E97C;
  color: white;
}

#addIngredientBtn:hover {
  color: white;
  background-color: #43e97c;
}

#addIngredientModalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

#addIngredientModalContent h1 {
  color: #424242;
  margin: 10px 0 30px 0;
}

#addIngredientModalContent h3 {
  margin-bottom: 10px;
}

#addIngredientModalContent input, #addIngredientModalContent select, #addIngredientModalContent textarea {
  margin-bottom: 30px;
}

#addIngredientModalContent textarea {
  height: 50px;
}

#addIngredientModalContent button {
  margin-top: 20px;
}

header {
  border-bottom: rgba(128, 128, 128, 0.1) solid 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  padding: 0 20px 0 20px;
  background-color: #4A4A4A;
}

header #brandBox {
  display: flex;
  align-content: center;
  justify-content: center;
}

header #brandBox #logo {
  margin: 9px;
}

header #brandBox #appName {
  padding-top: 10px;
  font-size: 25px;
}

header #accountBox {
  cursor: pointer;
  padding: 9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

header #accountBox p {
  padding-top: 6px;
  height: 20px;
  font-size: 20px;
}

header #accountBox p #accountBoxUserName {
  color: #EA4622;
}

header #accountBox #avatarImg {
  border-radius: 50%;
  margin-left: 10px;
}

body {
  background-image: url("/img/palm-leaf.png");
  background-repeat: repeat;
}

.content {
  top: 50px;
  height: 100%;
  overflow: auto;
}

.content .wrapper {
  padding-top: 3vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 200px 200px 200px;
  grid-auto-flow: row;
  grid-gap: 20px;
  justify-content: center;
}

.content .wrapper .recipeBox {
  overflow: hidden;
  position: relative;
  padding: 20px;
  border-radius: 2px;
  box-shadow: #424242 0px 2px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .wrapper .recipeBox .backgroundImg {
  position: absolute;
  margin: -30px;
  z-index: -999;
  transition: all 0.3s linear;
  filter: blur(5px);
}

.content .wrapper .recipeBox:hover .backgroundImg {
  filter: opacity(0.5);
}

.content .wrapperPantry {
  margin: 50px 20px 0 20px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-auto-flow: row;
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
  min-width: 1110px;
}

.content .wrapperPantry .block {
  min-height: 750px;
  min-width: 370px;
  padding: 20px;
}

.content .pantryContainer {
  border-radius: 10px;
  padding: 20px;
}

.content .pantryContainer:hover {
  background-color: rgba(159, 216, 226, 0.2);
}

.content .ingredientList {
  margin: 20px 0 0 0;
  list-style: none;
  min-width: 330px;
  max-width: 400px;
  padding: 10px;
  border: solid #9fd8e2 2px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
}

.content .ingredientList .selected {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 11px 10px 12px 10px;
  min-height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: rgba(128, 128, 128, 0.2) solid 2px;
  min-height: 100px;
}

.content .ingredientList .selected .rowOne {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.content .ingredientList .selected .ingredientHide, .content .ingredientList .selected .ingredientNote {
  display: inline;
}

.content .ingredientList .selected:hover {
  border: #F2847A solid 2px;
  background-color: #efefef;
}

.content .ingredientList .selected:hover button {
  display: inline;
}

.content .ingredientList .selected button {
  padding: 0px;
  height: 24px;
}

.content .ingredientList .selected .ingredientEditBtn {
  display: none;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0 12px 0 10px;
}

.content .ingredientList .selected .ingredientEditBtn:hover {
  background-color: #9fd8e2;
}

.content .ingredientList .selected .ingredientSelectCheckBox {
  margin: 5px;
  border-radius: 5px;
  border-color: #F2847A;
}

.content .ingredientList .selected .ingredientDeleteBtn {
  display: none;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #F2847A;
  width: 24px;
}

.content .ingredientList .selected .ingredientDeleteBtn:hover {
  background-color: #EA4622;
}

.content .ingredientList .ingredient {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 0 10px 0 10px;
  min-height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: rgba(128, 128, 128, 0.2) solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.content .ingredientList .ingredient .rowOne {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.content .ingredientList .ingredient .ingredientHide, .content .ingredientList .ingredient .ingredientNote {
  display: none;
}

.content .ingredientList .ingredient:hover {
  border: #F2847A solid 2px;
  background-color: #efefef;
}

.content .ingredientList .ingredient:hover button {
  display: inline;
}

.content .ingredientList .ingredient button {
  padding: 0px;
  height: 24px;
}

.content .ingredientList .ingredient .ingredientEditBtn {
  display: none;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0 12px 0 10px;
}

.content .ingredientList .ingredient .ingredientEditBtn:hover {
  background-color: #9fd8e2;
}

.content .ingredientList .ingredient .ingredientSelectCheckBox {
  margin: 5px;
  border-radius: 5px;
  border-color: #F2847A;
}

.content .ingredientList .ingredient .ingredientDeleteBtn {
  display: none;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #F2847A;
  width: 24px;
}

.content .ingredientList .ingredient .ingredientDeleteBtn:hover {
  background-color: #EA4622;
}

.content #fridge {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/fridgeClosed.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content #fridge:hover {
  background-image: url("/img/fridgeOpen.png");
}

.content #spiceRack {
  position: relative;
  top: 100px;
  background-image: url("/img/spiceRack.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content #spiceRack:hover {
  background-image: url("/img/spiceRackOpen.png");
}

.content #cupboard {
  position: relative;
  top: 110px;
  height: 340px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/cupboard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content #cupboard:hover {
  background-image: url("/img/cupboardOpen.png");
}

.content #stove {
  position: flex;
  top: 350px;
  height: 375px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/mixingBowl.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.content #stove button {
  background-color: #43E97C;
  font-size: 24px;
  margin-top: 100px;
  height: 75px;
  width: 200px;
}

.content #accountSettings, .content #recipe, .content #resultList {
  width: 100vw;
  padding: 3vw;
}

.content #accountSettings .backBtn, .content #recipe .backBtn, .content #resultList .backBtn {
  width: 100px;
}

.content #accountSettings #app, .content #recipe #app, .content #resultList #app {
  padding: 2vw;
}

.content #accountSettings #avatarPic {
  border: 3px solid #424242;
}

.content #accountSettings i {
  cursor: pointer;
}

.content #accountSettings #updateBtn, .content #accountSettings #logOutBtn {
  width: 150px;
}

.content #accountSettings #logOutBtn {
  background-color: #9fd8e2;
}

.content #recipeInfo {
  padding: 2vw;
}

.content #recipeInfo .titleBlock {
  display: flex;
}

.content #recipeInfo .titleBlock .titleBlockLeft {
  width: 500px;
  margin: 10px;
}

.content #recipeInfo .titleBlock .titleBlockLeft h1 {
  max-width: 500px;
}

.content #recipeInfo .titleBlock .titleBlockLeft .ingredientList {
  min-width: 230px;
  height: 400px;
  margin: 10px;
  justify-content: flex-start;
}

.content #recipeInfo .titleBlock .recipeImg {
  margin: 10px;
  padding: 10px;
  object-fit: contain;
  background-color: #aaaaaa4f;
}

.content #recipeInfo .ingredientBlock {
  display: flex;
}

.content #recipeInfo .ingredientBlock .chartBlock {
  margin: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: solid #9fd8e2 2px;
  padding: 10px;
}

.content #recipeInfo .ingredientBlock .chartBlock, .content #recipeInfo .ingredientBlock .ingredientList {
  min-height: 400px;
  margin: 10px;
  min-width: 500px;
}

.content #recipeInfo .stepBlock .ingredientList {
  margin: 10px;
  min-width: 1020px;
}

#loginBox {
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 8% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(128, 128, 128, 0.7) 0px 2px 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

#loginBox h1 {
  font-size: 40px;
}

#loginBox p {
  margin-bottom: 0px;
}

#loginBox * {
  margin: 14px;
}

#loginBox button {
  width: 150px;
}

#loginBox #signup_btn {
  background-color: #9fd8e2;
}
